<body>
  <div class="form-body">
    <div class="website-logo">
      <a href="#">
        <div class="logo">
          <img
            class="logo-size"
            src="../../../../images/unike-logo-light.svg"
            alt="Unike Tech"
          />
        </div>
      </a>
    </div>
    <div class="row">
      <div class="img-holder">
        <div class="bg"></div>
        <div class="info-holder">
          <img src="../../../../images/login-sidebar.svg" alt="" />
        </div>
      </div>
      <div class="form-holder">
        <div class="form-content">
          <div class="form-items">
            <h3>Faça mais com a Unike.FACE.</h3>
            <p>
              Acesso à ferramenta mais poderosa de toda a indústria de
              reconhecimento facial.
            </p>
            <div class="page-links">
              <a href="#" class="active">Entrar</a>
            </div>

            <div
              class="alert alert-warning alert-dismissible fade show with-icon"
              role="alert"
            >
              Por favor, preencha o seguinte formulário com suas informações.
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <form [formGroup]= 'signinForm' >
              <input
                class="form-control"
                type="text"
                id="username"
                matInput
                formControlName="email"
                name="username"
                placeholder="Seu e-mail"
                required
              />
              <input
                class="form-control"
                matInput
                formControlName="senha"
                type="password"
                name="password"
                placeholder="Sua senha"
                required
              />
              <div class="form-button">
                <button (click)="loginUsuario()" class="ibtn">Entrar</button>
                <a href="#">Esqueceu a senha?</a>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
