
<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="#">
                <div class="logo">
                    <img class="logo-size" src="../../../../images/unike-logo-light.svg" alt="Logo Unike Tech">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="../../../../images/forget-password-sidebar.svg" alt="">
                </div>
            </div>

            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Criar nova senha</h3>
                        <p>Para redefinir sua senha, digite o endereço de e-mail que você usa para fazer entrar em nossa plataforma.</p>
                        <form>
                            <input class="form-control" type="text" name="username" placeholder="Seu e-mail" required>
                            <div class="form-button full-width">
                                <button id="submit" type="submit" class="ibtn btn-forget">Enviar link</button>
                            </div>
                        </form>
                    </div>
                    <div class="form-sent">
                        <div class="tick-holder">
                            <div class="tick-icon"></div>
                        </div>
                        <h3>Um e-mail foi enviado!</h3>
                        <p>Por favor, veja sua caixa de entrada em email@email.com. E não se eswqueca de ver sua caixa de spam.</p>
                        <div class="info-holder">
                            <span>Não tem certeza se esse endereço de e-mail está correto?</span> <a href="un-contact.html">Nós podemos ajudar?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>