
<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="#">
                <div class="logo">
                    <img class="logo-size" src="images/unike-logo-light.svg" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg msg"></div>
                <div class="info-holder">
                    <h2 class="unike-text">Estamos prontos para ajudá-lo, <br><span>a qualquer momento.</span></h2>
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Basta preencher o formulário.<br>Retornaremos em breve.</h3>
                        <p>Você tem novo projeto? Ou você precisa de ajuda?<br>Ou só quero dizer oi, aqui está o formulário.</p>
                        <form>
                            <div class="form-row">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Primeiro nome">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Último nome">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Seu e-mail">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <textarea class="form-control" placeholder="Mensagem..."></textarea>
                                </div>
                            </div>
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn extra-padding">Enviar Mensagem</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>