<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="images/unike-logo-light.svg" alt="Logo Unike Tech">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="../../../../images/forget-password-sidebar.svg" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Documento</h3>
                        <p>Para continuar nos forneça o número de documento.</p>
                        <form [formGroup] = 'formDocument'> 
                            <input class="form-control"  type="text" formControlName ="documentNumber" name="document" placeholder="Número do Documento (12345678 para teste)" required>
                            <div class="form-button full-width">
                                <button (click)="getDocument()" class="ibtn">Continuar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>